In [1]:
# Install Java 8
!apt-get install openjdk-8-jdk-headless > /dev/null  
# Download Spark 3.0.1
!wget -q https://archive.apache.org/dist/spark/spark-3.0.1/spark-3.0.1-bin-hadoop2.7.tgz 
# Extract the Spark archive
!tar xf spark-3.0.1-bin-hadoop2.7.tgz

In [2]:
# Set environment variables
import os
os.environ["JAVA_HOME"] = '/usr/lib/jvm/java-8-openjdk-amd64'
os.environ["SPARK_HOME"] = '/content/spark-3.0.1-bin-hadoop2.7'

In [3]:
# Install findspark to use pyspark
!pip install -q findspark

In [8]:

# Mount Google Drive 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
!cp /content/drive/MyDrive/WDIData.csv /content/

In [10]:
# Make pyspark importable
import findspark
findspark.init()

In [11]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql import Window
from pyspark.sql.types import DecimalType

In [12]:
# Create a SparkSession
spark = (SparkSession.builder
                     .master('local') 
                     .appName("WDI Analysis") 
                     .getOrCreate())

In [13]:
def show_size_shema(df):
    """Show the size and schema of a DataFrame."""
    print("Rows: {0}, columns: {1}".format(df.count(), len(df.columns)))
    df.printSchema()

In [14]:
# Create a WDI DataFrame
wdi_path = '/content/WDIData.csv'
df_wdi = spark.read.csv(wdi_path, inferSchema=True, header=True)

In [15]:
show_size_shema(df_wdi)

Rows: 383572, columns: 67
root
 |-- Country Name: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- Indicator Name: string (nullable = true)
 |-- Indicator Code: string (nullable = true)
 |-- 1960: double (nullable = true)
 |-- 1961: double (nullable = true)
 |-- 1962: double (nullable = true)
 |-- 1963: double (nullable = true)
 |-- 1964: double (nullable = true)
 |-- 1965: double (nullable = true)
 |-- 1966: double (nullable = true)
 |-- 1967: double (nullable = true)
 |-- 1968: double (nullable = true)
 |-- 1969: double (nullable = true)
 |-- 1970: double (nullable = true)
 |-- 1971: double (nullable = true)
 |-- 1972: double (nullable = true)
 |-- 1973: double (nullable = true)
 |-- 1974: double (nullable = true)
 |-- 1975: double (nullable = true)
 |-- 1976: double (nullable = true)
 |-- 1977: double (nullable = true)
 |-- 1978: double (nullable = true)
 |-- 1979: double (nullable = true)
 |-- 1980: double (nullable = true)
 |-- 1981: double (nullable = true)
 |-- 1982: double (nullable = true)
 |-- 1983: double (nullable = true)
 |-- 1984: double (nullable = true)
 |-- 1985: double (nullable = true)
 |-- 1986: double (nullable = true)
 |-- 1987: double (nullable = true)
 |-- 1988: double (nullable = true)
 |-- 1989: double (nullable = true)
 |-- 1990: double (nullable = true)
 |-- 1991: double (nullable = true)
 |-- 1992: double (nullable = true)
 |-- 1993: double (nullable = true)
 |-- 1994: double (nullable = true)
 |-- 1995: double (nullable = true)
 |-- 1996: double (nullable = true)
 |-- 1997: double (nullable = true)
 |-- 1998: double (nullable = true)
 |-- 1999: double (nullable = true)
 |-- 2000: double (nullable = true)
 |-- 2001: double (nullable = true)
 |-- 2002: double (nullable = true)
 |-- 2003: double (nullable = true)
 |-- 2004: double (nullable = true)
 |-- 2005: double (nullable = true)
 |-- 2006: double (nullable = true)
 |-- 2007: double (nullable = true)
 |-- 2008: double (nullable = true)
 |-- 2009: double (nullable = true)
 |-- 2010: double (nullable = true)
 |-- 2011: double (nullable = true)
 |-- 2012: double (nullable = true)
 |-- 2013: double (nullable = true)
 |-- 2014: double (nullable = true)
 |-- 2015: double (nullable = true)
 |-- 2016: double (nullable = true)
 |-- 2017: double (nullable = true)
 |-- 2018: double (nullable = true)
 |-- 2019: double (nullable = true)
 |-- 2020: double (nullable = true)
 |-- 2021: double (nullable = true)
 |-- _c66: string (nullable = true)

In [16]:
# Show the first 5 rows of the DataFrame in tabular form
df_wdi.select(df_wdi.columns[:7] + df_wdi.columns[-5:]).show(5)

+--------------------+------------+--------------------+-----------------+----+----+----+----------------+----------------+----------------+----+----+
|        Country Name|Country Code|      Indicator Name|   Indicator Code|1960|1961|1962|            2018|            2019|            2020|2021|_c66|
+--------------------+------------+--------------------+-----------------+----+----+----+----------------+----------------+----------------+----+----+
|Africa Eastern an...|         AFE|Access to clean f...|   EG.CFT.ACCS.ZS|null|null|null|18.6953056959887|19.1499422830713|19.5018373155115|null|null|
|Africa Eastern an...|         AFE|Access to clean f...|EG.CFT.ACCS.RU.ZS|null|null|null|7.25482807057078|7.46078295393556|7.59928856389562|null|null|
|Africa Eastern an...|         AFE|Access to clean f...|EG.CFT.ACCS.UR.ZS|null|null|null|38.4824089338151|38.6920529949576|38.7939833193673|null|null|
|Africa Eastern an...|         AFE|Access to electri...|   EG.ELC.ACCS.ZS|null|null|null|42.8809766258104|44.0739121045303|45.6096042884373|null|null|
|Africa Eastern an...|         AFE|Access to electri...|EG.ELC.ACCS.RU.ZS|null|null|null|27.2273913874217| 29.382999636116|30.1633636410037|null|null|
+--------------------+------------+--------------------+-----------------+----+----+----+----------------+----------------+----------------+----+----+
only showing top 5 rows

In [17]:
df_wdi.select('Country Code').distinct().count()

266

In [18]:
df_wdi.select('Indicator Code').distinct().count()

1442

In [19]:
!cp -r /content/drive/MyDrive/WDI_CSV /content/

In [20]:
# Create a DataFrame of countries
country_path = '/content/WDI_CSV/WDICountry.csv'
df_country = spark.read.csv(
    country_path, inferSchema=True, header=True, multiLine=True)

In [21]:
show_size_shema(df_country)

Rows: 265, columns: 31
root
 |-- Country Code: string (nullable = true)
 |-- Short Name: string (nullable = true)
 |-- Table Name: string (nullable = true)
 |-- Long Name: string (nullable = true)
 |-- 2-alpha code: string (nullable = true)
 |-- Currency Unit: string (nullable = true)
 |-- Special Notes: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Income Group: string (nullable = true)
 |-- WB-2 code: string (nullable = true)
 |-- National accounts base year: string (nullable = true)
 |-- National accounts reference year: integer (nullable = true)
 |-- SNA price valuation: string (nullable = true)
 |-- Lending category: string (nullable = true)
 |-- Other groups: string (nullable = true)
 |-- System of National Accounts: string (nullable = true)
 |-- Alternative conversion factor: string (nullable = true)
 |-- PPP survey year: string (nullable = true)
 |-- Balance of Payments Manual in use: string (nullable = true)
 |-- External debt Reporting status: string (nullable = true)
 |-- System of trade: string (nullable = true)
 |-- Government Accounting concept: string (nullable = true)
 |-- IMF data dissemination standard: string (nullable = true)
 |-- Latest population census: string (nullable = true)
 |-- Latest household survey: string (nullable = true)
 |-- Source of most recent Income and expenditure data: string (nullable = true)
 |-- Vital registration complete: string (nullable = true)
 |-- Latest agricultural census: string (nullable = true)
 |-- Latest industrial data: string (nullable = true)
 |-- Latest trade data: integer (nullable = true)
: string (nullable = true)

In [22]:
df_country.select('Country Code').distinct().count()

265

In [23]:
# Show the last 7 rows of the DataFrame as a list of Rows
df_country.select('Country Code', 'Short Name').tail(7)

[Row(Country Code='WLD', Short Name='World'),
 Row(Country Code='WSM', Short Name='Samoa'),
 Row(Country Code='XKX', Short Name='Kosovo'),
 Row(Country Code='YEM', Short Name='Yemen'),
 Row(Country Code='ZAF', Short Name='South Africa'),
 Row(Country Code='ZMB', Short Name='Zambia'),
 Row(Country Code='ZWE', Short Name='Zimbabwe')]

In [24]:
# Create a DataFrame of indicators (series)
series_path = '/content/WDI_CSV/WDISeries.csv'
df_series = spark.read.csv(
    series_path, inferSchema=True, header=True, multiLine=True, escape="\"")

In [25]:
show_size_shema(df_series)

Rows: 1442, columns: 21
root
 |-- Series Code: string (nullable = true)
 |-- Topic: string (nullable = true)
 |-- Indicator Name: string (nullable = true)
 |-- Short definition: string (nullable = true)
 |-- Long definition: string (nullable = true)
 |-- Unit of measure: string (nullable = true)
 |-- Periodicity: string (nullable = true)
 |-- Base Period: string (nullable = true)
 |-- Other notes: string (nullable = true)
 |-- Aggregation method: string (nullable = true)
 |-- Limitations and exceptions: string (nullable = true)
 |-- Notes from original source: string (nullable = true)
 |-- General comments: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Statistical concept and methodology: string (nullable = true)
 |-- Development relevance: string (nullable = true)
 |-- Related source links: string (nullable = true)
 |-- Other web links: string (nullable = true)
 |-- Related indicators: string (nullable = true)
 |-- License Type: string (nullable = true)
: string (nullable = true)

In [26]:
df_series.select('Series Code').distinct().count()

1442

In [27]:
# Show the first 5 rows of the DataFrame without truncation 
df_series.select('Indicator Name', 'Topic').show(5, False)

+-------------------------------------------------------------+------------------------------------+
|Indicator Name                                               |Topic                               |
+-------------------------------------------------------------+------------------------------------+
|Agricultural machinery, tractors                             |Environment: Agricultural production|
|Fertilizer consumption (% of fertilizer production)          |Environment: Agricultural production|
|Fertilizer consumption (kilograms per hectare of arable land)|Environment: Agricultural production|
|Agricultural land (sq. km)                                   |Environment: Land use               |
|Agricultural land (% of land area)                           |Environment: Land use               |
+-------------------------------------------------------------+------------------------------------+
only showing top 5 rows

In [28]:
df_country.select('Region', 'Income Group').show(7, False)

+-------------------------+-------------------+
|Region                   |Income Group       |
+-------------------------+-------------------+
|Latin America & Caribbean|High income        |
|null                     |null               |
|South Asia               |Low income         |
|null                     |null               |
|Sub-Saharan Africa       |Lower middle income|
|Europe & Central Asia    |Upper middle income|
|Europe & Central Asia    |High income        |
+-------------------------+-------------------+
only showing top 7 rows

In [29]:
df_series.select('Topic').limit(5).collect()

[Row(Topic='Environment: Agricultural production'),
 Row(Topic='Environment: Agricultural production'),
 Row(Topic='Environment: Agricultural production'),
 Row(Topic='Environment: Land use'),
 Row(Topic='Environment: Land use')]

In [30]:
# View the number of country names contained in both of these DataFrames 
# (with the removal of duplicates)
df_wdi.select('Country Code').intersect(
    df_country.select('Country Code')).count()

265

In [31]:
# View a country code that is in the WDI DataFrame but is not in the Dataframe 
# of countries (without the removal of duplicates)
(df_wdi.select('Country Code').distinct()
    .exceptAll(df_country.select('Country Code')).show())

+------------+
|Country Code|
+------------+
|         INX|
+------------+

In [32]:
# View what values in other columns
df_wdi.where(F.col('Country Code') == 'INX').select(df_wdi.columns[:7]).show(5)

+--------------+------------+--------------------+-----------------+----+----+----+
|  Country Name|Country Code|      Indicator Name|   Indicator Code|1960|1961|1962|
+--------------+------------+--------------------+-----------------+----+----+----+
|Not classified|         INX|Access to clean f...|   EG.CFT.ACCS.ZS|null|null|null|
|Not classified|         INX|Access to clean f...|EG.CFT.ACCS.RU.ZS|null|null|null|
|Not classified|         INX|Access to clean f...|EG.CFT.ACCS.UR.ZS|null|null|null|
|Not classified|         INX|Access to electri...|   EG.ELC.ACCS.ZS|null|null|null|
|Not classified|         INX|Access to electri...|EG.ELC.ACCS.RU.ZS|null|null|null|
+--------------+------------+--------------------+-----------------+----+----+----+
only showing top 5 rows

In [33]:
# Count the number of rows with values in the annual columns 
# by deleting all empty rows in them
(df_wdi.where(F.col('Country Code') == 'INX')
       .dropna('all', subset=df_wdi.columns[4:])
       .select('*').count())

0

In [34]:
# Count the number of missing values
for ncols in ['Region', 'Income Group']:
    print(f"Missing values in '{ncols}': ", df_country.where(df_country[ncols].isNull()).count())
print("Missing values in 'Topic': ", df_series.where(df_series['Topic'].isNull()).count())

Missing values in 'Region':  48
Missing values in 'Income Group':  49
Missing values in 'Topic':  0

In [35]:
# See how many countries do not have values in the "Region" 
# and "Income Group" columns
(df_country
    .filter(df_country['Income Group'].isNull() | df_country['Region'].isNull())
    .select('Country Code')
    .distinct()
    .count())

49

In [36]:
# Show the names of these countries
(df_country
    .filter(df_country['Region'].isNull())
    .select('Short Name', 'Country Code')
    .distinct()
    .collect())

[Row(Short Name='Euro area', Country Code='EMU'),
 Row(Short Name='Low income', Country Code='LIC'),
 Row(Short Name='Middle East & North Africa', Country Code='MEA'),
 Row(Short Name='Least developed countries: UN classification', Country Code='LDC'),
 Row(Short Name='Middle East & North Africa (excluding high income)', Country Code='MNA'),
 Row(Short Name='Middle East & North Africa (IDA & IBRD)', Country Code='TMN'),
 Row(Short Name='Europe & Central Asia (excluding high income)', Country Code='ECA'),
 Row(Short Name='East Asia & Pacific (IDA & IBRD)', Country Code='TEA'),
 Row(Short Name='IDA total', Country Code='IDA'),
 Row(Short Name='Middle income', Country Code='MIC'),
 Row(Short Name='Arab World', Country Code='ARB'),
 Row(Short Name='Latin America & Caribbean (excluding high income)', Country Code='LAC'),
 Row(Short Name='Sub-Saharan Africa (excluding high income)', Country Code='SSA'),
 Row(Short Name='Pacific island small states', Country Code='PSS'),
 Row(Short Name='IBRD only', Country Code='IBD'),
 Row(Short Name='Sub-Saharan Africa', Country Code='SSF'),
 Row(Short Name='High income', Country Code='HIC'),
 Row(Short Name='Late-demographic dividend', Country Code='LTE'),
 Row(Short Name='Other small states', Country Code='OSS'),
 Row(Short Name='Latin America & Caribbean', Country Code='LCN'),
 Row(Short Name='Africa Western and Central', Country Code='AFW'),
 Row(Short Name='East Asia & Pacific (excluding high income)', Country Code='EAP'),
 Row(Short Name='North America', Country Code='NAC'),
 Row(Short Name='IDA blend', Country Code='IDB'),
 Row(Short Name='South Asia', Country Code='SAS'),
 Row(Short Name='European Union', Country Code='EUU'),
 Row(Short Name='Africa Eastern and Southern', Country Code='AFE'),
 Row(Short Name='Fragile and conflict affected situations', Country Code='FCS'),
 Row(Short Name='Latin America & Caribbean (IDA & IBRD)', Country Code='TLA'),
 Row(Short Name='Caribbean small states', Country Code='CSS'),
 Row(Short Name='South Asia (IDA & IBRD)', Country Code='TSA'),
 Row(Short Name='Sub-Saharan Africa (IDA & IBRD)', Country Code='TSS'),
 Row(Short Name='Lower middle income', Country Code='LMC'),
 Row(Short Name='Upper middle income', Country Code='UMC'),
 Row(Short Name='IDA only', Country Code='IDX'),
 Row(Short Name='Small states', Country Code='SST'),
 Row(Short Name='Pre-demographic dividend', Country Code='PRE'),
 Row(Short Name='Heavily indebted poor countries (HIPC)', Country Code='HPC'),
 Row(Short Name='Central Europe and the Baltics', Country Code='CEB'),
 Row(Short Name='Europe & Central Asia (IDA & IBRD)', Country Code='TEC'),
 Row(Short Name='Post-demographic dividend', Country Code='PST'),
 Row(Short Name='OECD members', Country Code='OED'),
 Row(Short Name='World', Country Code='WLD'),
 Row(Short Name='East Asia & Pacific', Country Code='EAS'),
 Row(Short Name='Europe & Central Asia', Country Code='ECS'),
 Row(Short Name='IDA & IBRD total', Country Code='IBT'),
 Row(Short Name='Early-demographic dividend', Country Code='EAR'),
 Row(Short Name='Low & middle income', Country Code='LMY')]

In [37]:
# Add rows with filled in missing values for the "World"
df_country_w = (df_country
                .unionByName(df_country
                                .filter(df_country['Country Code'] == 'WLD')
                                .fillna({'Region': 'World', 
                                         'Income group': 'World'})))

In [38]:
(df_country_w
    .filter(df_country_w['Country Code'] == 'WLD')
    .select('Country Code', 'Region')
    .show())

+------------+------+
|Country Code|Region|
+------------+------+
|         WLD|  null|
|         WLD| World|
+------------+------+

In [39]:
(df_wdi.select('Indicator Code')
    .distinct()
    .intersect(df_series.select('Series Code'))
    .count())

1442

In [40]:
df_wdi.filter(df_wdi['_c65'].isNotNull()).count()

AnalysisException: ignored

In [41]:
# Select columns in a specific order
cols_ord = (['Country Code', 'Country Name', 'Region', 'Income Group', 'Topic'] 
            + df_wdi.columns[2:len(df_wdi.columns)-1])

# Join all the selected DataFrames together
wdi_csdf = (df_wdi
            .join(df_country_w
                  .dropna(subset=['Region', 'Income Group'])
                  .select('Country Code', 'Region', 'Income group'), 
                  'Country Code')
            .join(df_series.select('Series Code', 'Topic'),  
                  df_wdi['Indicator Code'] == df_series['Series Code'], 
                  'left')
            .fillna({'Topic': 'Unknown'})
            .select(cols_ord))

In [42]:
# Calculate the final number of rows
rows_df = (df_wdi.where(df_wdi['Country Code'] != 'INX').count() 
           - (df_country.where(df_country['Region'].isNull()).count() - 1)
           * df_series.select('Series Code').count())

print("The correct number of rows: {0}, columns: {1}".format(
    rows_df, len(df_wdi.columns) + 2))
print("The resulting number of rows: {0}, columns: {1}".format(
    wdi_csdf.count(), len(wdi_csdf.columns)))

The correct number of rows: 314356, columns: 69
The resulting number of rows: 312914, columns: 69

In [43]:
# Display a sampled subset
wdi_csdf.sample(0.2).show(10)

+------------+------------+------+------------+--------------------+--------------------+--------------------+----+----+----+----+----+----+----+----+----+----+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-----------------+-------------------+-------------------+-------------------+-------------------+-------------------+-----+
|Country Code|Country Name|Region|Income Group|               Topic|      Indicator Name|      Indicator Code|1960|1961|1962|1963|1964|1965|1966|1967|1968|1969|               1970|               1971|               1972|               1973|               1974|               1975|               1976|               1977|               1978|               1979|               1980|               1981|               1982|               1983|               1984|               1985|               1986|               1987|               1988|               1989|               1990|               1991|               1992|               1993|               1994|               1995|               1996|               1997|               1998|               1999|               2000|               2001|               2002|               2003|               2004|               2005|               2006|               2007|               2008|               2009|               2010|               2011|               2012|               2013|               2014|             2015|               2016|               2017|               2018|               2019|               2020| 2021|
+------------+------------+------+------------+--------------------+--------------------+--------------------+----+----+----+----+----+----+----+----+----+----+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-----------------+-------------------+-------------------+-------------------+-------------------+-------------------+-----+
|         WLD|       World| World|       World|Environment: Ener...|Access to electri...|   EG.ELC.ACCS.UR.ZS|null|null|null|null|null|null|null|null|null|null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|       94.328260603|   94.7987436423551|   94.7690832758203|   94.5984980705124|   94.6737514625963|   94.5081023286429|   94.9787316632738|   94.9383197309416|   94.6499190070599|    94.969002885813|   95.1350540490652|   95.1076128088269|   95.2716956655281|   95.5016117125075|   95.6573084418106|   95.6896679104366|   95.8106380482959|   95.7096783132713|   95.9379677367568|   96.2868381595414|   96.2909879862076|   96.3447485645493| 96.2524228904449|   96.7442933659494|   97.2629707759984|   97.3941115101058|   97.6176052335493|   97.2352398533877| null|
|         WLD|       World| World|       World|Financial Sector:...|Account ownership...|      FX.OWN.TOTL.ZS|null|null|null|null|null|null|null|null|null|null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|              50.63|               null|               null|              61.92|             null|               null|               68.5|               null|               null|               null| 76.2|
|         WLD|       World| World|       World|Financial Sector:...|Account ownership...|   FX.OWN.TOTL.60.ZS|null|null|null|null|null|null|null|null|null|null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|              57.06|               null|               null|              66.86|             null|               null|              73.73|               null|               null|               null|79.05|
|         WLD|       World| World|       World|Financial Sector:...|Account ownership...|   FX.OWN.TOTL.YG.ZS|null|null|null|null|null|null|null|null|null|null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|              37.09|               null|               null|               46.9|             null|               null|               56.3|               null|               null|               null|65.52|
|         WLD|       World| World|       World|Education: Partic...|Adjusted net enro...|         SE.PRM.TENR|null|null|null|null|null|null|null|null|null|null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|           89.74708|               null|           89.88673|           89.73896|           89.76079|           90.09036|           90.28756|           90.44798|         90.30999|            90.5136|           90.48209|           90.45493|               null|               null| null|
|         WLD|       World| World|       World|Economic Policy &...|Adjusted net nati...|      NY.ADJ.NNTY.KD|null|null|null|null|null|null|null|null|null|null|               null|1.91216909556107E13|2.01805456220895E13|2.13851646201277E13|2.10377599847743E13|2.11751433851311E13| 2.2212448619687E13|2.29700909017997E13| 2.4060797140879E13|2.44232982735786E13|2.45281059244881E13|2.49328330610624E13|2.51649656128637E13|2.61015500167559E13|2.76712650078006E13|2.92930871635365E13|3.03981941041612E13|3.12332111230656E13|3.20192349060949E13|3.28741680236336E13|3.39005652314077E13|3.43239355451496E13|3.52115875858456E13|3.57365500654411E13|3.71772225765537E13|3.82778343455953E13|3.93015303609203E13|4.08727554864459E13|4.16756676170127E13|4.29023746323886E13|4.44371245975851E13|4.52560602005461E13|4.71041198360199E13|4.77358459022485E13|5.03622171761172E13|5.23003079985922E13|5.50076082222008E13|5.78029403140911E13|5.76279986841419E13|5.72880109082078E13|6.02972256847541E13|6.19276508975486E13|5.65478302755765E13|5.78789218696055E13|5.97688686500555E13|6.174985094258E13|6.33539530212934E13|6.56421529936231E13|6.71576175017842E13|6.88400077362057E13|6.59055669777768E13| null|
|         WLD|       World| World|       World|Economic Policy &...|Adjusted net nati...|      NY.ADJ.NNTY.CD|null|null|null|null|null|null|null|null|null|null|2.55331541694488E12|2.81735309879866E12|3.25255419456703E12|3.95466096640239E12|4.44482671395608E12|4.94974832701335E12|5.37206206066573E12|6.05437453751543E12|7.16024576619413E12|8.10365206318316E12|9.04437370425657E12|9.41973427271521E12|9.39876630331537E12|9.53296446593691E12| 9.9425737122831E12|1.04562808150499E13|1.24050757155041E13|1.40744028778086E13|1.58726699511221E13|1.64678324199338E13|1.85009149933027E13|1.94969270925908E13|2.09752167641109E13|2.12422923632528E13| 2.2924681556648E13|2.55635106474509E13| 2.6264552957839E13|2.63224179390806E13|2.64863201176848E13|2.74761655072911E13|2.83462739705729E13| 2.8250581190944E13|2.96273597962962E13|3.33801498781612E13|3.79087919151284E13|4.13179712334185E13|4.53718981601766E13|5.16625936704531E13|5.67939318877025E13|5.50361076630334E13|6.09018528445449E13|6.76840399286031E13|6.15796045799924E13|6.31947435613264E13|6.51169189407412E13|6.174985094258E13|6.26180781318752E13|6.66766140063736E13|7.01183254584866E13|7.12420059612391E13|6.83706581034159E13| null|
|         WLD|       World| World|       World|Economic Policy &...|Adjusted net nati...|NY.ADJ.NNTY.PC.KD.ZG|null|null|null|null|null|null|null|null|null|null|               null|               null|   3.45970046751007|   3.90382580301718|  -3.49238731258075|  -1.18049503581938|   3.04842687661137|    1.6265334856852|   2.94212801483769| -0.258917605106475|  -1.30231461160758| -0.116082667499143| -0.862105532413153|   1.90240701463658|   4.19516506245208|   4.03975908637655|   1.96592545608898|  0.941454887567744|  0.730204508165059|  0.909662200767841|   1.35297980052367| -0.427862175790693|  0.942915753658184|-0.0880074689881525|   2.45662261158661|   1.43813483625175|   1.17580676498991|   2.50825415307428|  0.538001599296067|   1.54165804231712|   2.19431033850309|  0.501376641693383|   2.73463455301992| 0.0517878067898749|   4.17410396353537|   2.55268197190377|   3.87082337481417|   3.78797656677622|  -1.53053142842198|  -1.80391947539084|   3.98211548889742|   1.48232144057627|  -9.80439572052796|   1.10389017778414|    2.0189063877483|  2.0949573822292|   1.40600931073749|   2.43288729132796|   1.19210434719265|    1.4340300762278|  -5.22116870281583| null|
|         WLD|       World| World|       World|Economic Policy &...|Adjusted net nati...|   NY.ADJ.NNTY.PC.CD|null|null|null|null|null|null|null|null|null|null|   691.897846833184|   747.700574934085|   846.204992214282|   1008.81642381429|    1112.3267851658|   1216.12016230485|   1296.59899998185|   1436.06725394791|   1669.08812998959|   1856.14500267704|     2035.902058157|   2083.55507531252|   2041.98319271809|   2034.80957074683|   2085.83268505776|   2155.86268203872|    2513.1343226583|   2801.21838194956|   3104.07622286005|   3165.24814037686|   3495.01371149101|   3622.17590296488|   3834.39759400374|   3822.80961876517|   4063.12626236404|   4463.83712810601|   4519.31310452918|   4464.39465652944|   4429.35024505054|   4532.31418827948|    4613.4090555519|     4537.269613796|   4696.72229343175|   5224.31477956516|   5858.42067285678|   6305.61158959131|   6838.33282425831|   7690.58484315047|   8350.31935763705|   7993.05512617119|   8738.17350896346|   9595.76379242655|   8623.51264845881|   8741.61437095762|    8898.7825144787| 8339.04038052535|   8358.06577946545|   8798.52563034526|   9151.70612730129|   9201.20528888034|   8741.95366573991| null|
|         WLD|       World| World|       World|Economic Policy &...|Adjusted net savi...|   NY.ADJ.SVNX.GN.ZS|null|null|null|null|null|null|null|null|null|null|               null|               null|               null|               null|               null|   10.8756628780696|   11.7654487751513|    11.416986869783|   11.8297314299658|   10.3273772169108|   8.89643401019726|   10.6272923188081|   9.69625333721515|   8.39326113181566|    9.7993772472251|   9.04488728918419|   8.16338652115218|   9.10372624211766|   9.13998545044959|   8.97187727581309|    7.6193102128467|   7.24369329502698|   7.11408056282848|    6.6663449584098|   7.88866356045149|   8.54028194869954|   10.5414250158827|   11.0241608768161|   10.6569912287823|   10.0486970114321|   9.95121527563863|   9.10232436259384|   8.77616059763117|   8.79818714672138|   9.60183250749892|   9.85052865357232|    10.931232681226|   11.0069206274871|   9.62067262326206|   7.84618849113638|   9.57319789322045|   9.90963425841888|   10.3710330932438|   10.2799701951739|    10.732214593919| 10.9751431949935|   10.5949530435771|   11.3082830814761|   10.9690160933041|   10.7456929087547|   9.88932988384763| null|
+------------+------------+------+------------+--------------------+--------------------+--------------------+----+----+----+----+----+----+----+----+----+----+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-----------------+-------------------+-------------------+-------------------+-------------------+-------------------+-----+
only showing top 10 rows

In [44]:
# Divide the columns into numeric and string columns
years_cols = [col[0] for col in wdi_csdf.dtypes if col[1] == 'double']
name_cols = [col[0] for col in wdi_csdf.dtypes if col[1] == 'string']

In [45]:
print("Number of years in the dataset: {}".format(len(years_cols)))

Number of years in the dataset: 62

In [46]:
# Counts the number of records for each year
wdi_csdf.select(years_cols).summary('count').show()

+-------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-----+
|summary| 1960| 1961| 1962| 1963| 1964| 1965| 1966| 1967| 1968| 1969| 1970| 1971| 1972| 1973| 1974| 1975| 1976| 1977| 1978| 1979| 1980| 1981| 1982| 1983| 1984| 1985| 1986| 1987| 1988| 1989|  1990|  1991|  1992|  1993|  1994|  1995|  1996|  1997|  1998|  1999|  2000|  2001|  2002|  2003|  2004|  2005|  2006|  2007|  2008|  2009|  2010|  2011|  2012|  2013|  2014|  2015|  2016|  2017|  2018|  2019|  2020| 2021|
+-------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-----+
|  count|31827|36287|37298|38125|38658|40555|40632|41194|41778|42452|55471|61562|63188|63676|64889|68086|70218|72395|73107|73758|78057|79876|79863|80635|81154|82311|82977|83102|83315|84551|105641|111518|114192|116505|118398|125354|125266|125213|128144|133439|156209|150756|153541|155027|159611|168956|169445|171288|172104|173336|182732|179525|180748|178641|184488|184352|181290|177952|175745|168230|139382|90326|
+-------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-----+

In [47]:
# Counts the number of records in string columns
wdi_csdf.select(name_cols).summary('count').show()

+-------+------------+------------+------+------------+------+--------------+--------------+
|summary|Country Code|Country Name|Region|Income Group| Topic|Indicator Name|Indicator Code|
+-------+------------+------------+------+------------+------+--------------+--------------+
|  count|      312914|      312914|312914|      312914|312914|        312914|        312914|
+-------+------------+------------+------+------------+------+--------------+--------------+

In [48]:
wdi_csdf.select('Region').distinct().collect()

[Row(Region='South Asia'),
 Row(Region='World'),
 Row(Region='Sub-Saharan Africa'),
 Row(Region='Europe & Central Asia'),
 Row(Region='North America'),
 Row(Region=' the economy is still counted as IBRD in the IDA- and IBRD-relevant group data in this version of WDI."'),
 Row(Region='East Asia & Pacific'),
 Row(Region='Middle East & North Africa'),
 Row(Region='Latin America & Caribbean')]

In [49]:
(wdi_csdf.select('Country Code', 'Region').distinct()
         .groupBy('Region').count().orderBy('count')
         .show(truncate=False))

+-------------------------------------------------------------------------------------------------------+-----+
|Region                                                                                                 |count|
+-------------------------------------------------------------------------------------------------------+-----+
| the economy is still counted as IBRD in the IDA- and IBRD-relevant group data in this version of WDI."|1    |
|World                                                                                                  |1    |
|North America                                                                                          |3    |
|South Asia                                                                                             |7    |
|Middle East & North Africa                                                                             |21   |
|East Asia & Pacific                                                                                    |37   |
|Latin America & Caribbean                                                                              |41   |
|Sub-Saharan Africa                                                                                     |48   |
|Europe & Central Asia                                                                                  |58   |
+-------------------------------------------------------------------------------------------------------+-----+

In [50]:
wdi_csdf.select('Income Group').distinct().collect()

[Row(Income Group='South Asia'),
 Row(Income Group='Lower middle income'),
 Row(Income Group='World'),
 Row(Income Group='High income'),
 Row(Income Group='Upper middle income'),
 Row(Income Group='Low income')]

In [51]:

(wdi_csdf.filter(wdi_csdf['Income Group'] != 'World')
         .select('Country Code', 'Income Group').distinct()
         .groupBy('Income Group').count()
         .orderBy(F.desc('Income Group')).show())

+-------------------+-----+
|       Income Group|count|
+-------------------+-----+
|Upper middle income|   54|
|         South Asia|    1|
|Lower middle income|   53|
|         Low income|   28|
|        High income|   80|
+-------------------+-----+

In [52]:
wdi_csdf.select('Topic').distinct().count()

89

In [53]:
(wdi_csdf.select('Indicator Code', 'Topic').distinct()
         .groupBy('Topic').count().orderBy('Topic')
         .show(10, False))

+--------------------------------------------------------------------------------------+-----+
|Topic                                                                                 |count|
+--------------------------------------------------------------------------------------+-----+
|Economic Policy & Debt: Balance of payments: Capital & financial account              |11   |
|Economic Policy & Debt: Balance of payments: Current account: Balances                |4    |
|Economic Policy & Debt: Balance of payments: Current account: Goods, services & income|22   |
|Economic Policy & Debt: Balance of payments: Current account: Transfers               |7    |
|Economic Policy & Debt: Balance of payments: Reserves & other items                   |6    |
|Economic Policy & Debt: External debt: Debt outstanding                               |10   |
|Economic Policy & Debt: External debt: Debt ratios & other items                      |11   |
|Economic Policy & Debt: External debt: Debt service                                   |5    |
|Economic Policy & Debt: External debt: Net flows                                      |20   |
|Economic Policy & Debt: National accounts: Adjusted savings & income                  |28   |
+--------------------------------------------------------------------------------------+-----+
only showing top 10 rows

In [54]:
# Create a list of columns to analyze
ind_nc_topic = ['Indicator Name', 'Indicator Code', 'Topic']

In [55]:
def rename_agg_cols(df, cols_rename, chars, new_form=None):
    """Return a new DataFrame with renamed aggregate columns.

    Parameters:
    df -- a PySpark DataFrame
    cols_rename -- names of columns to rename
    chars -- a string specifying the set of characters to be removed
    new_form -- a new format of column names
    """
    for old_name in cols_rename:
    
        if new_form:
            new_name = new_form.format(old_name.strip(chars)) 
        else:
            new_name = old_name.strip(chars)

        df = df.withColumnRenamed(old_name, new_name)

    return df

In [56]:
wdi_csdf.groupBy('Indicator Code').count().select('count').distinct().show()

+-----+
|count|
+-----+
|  217|
+-----+

In [65]:
# Count the number of countries with data for each indicator
# (the specific year does not matter)
country_ind = (wdi_csdf.dropna('all', subset=years_cols)
                       .groupBy(ind_nc_topic)
                       .count())

country_ind.select('Indicator Name', 'count').show(7, False)

+-----------------------------------------------------+-----+
|Indicator Name                                       |count|
+-----------------------------------------------------+-----+
|Depth of credit information index (0=low to 8=high)  |190  |
|Manufactures exports (% of merchandise exports)      |198  |
|People practicing open defecation (% of population)  |215  |
|Personal remittances, received (% of GDP)            |198  |
|Electricity production from coal sources (% of total)|142  |
|GNI growth (annual %)                                |167  |
|International tourism, number of arrivals            |203  |
+-----------------------------------------------------+-----+
only showing top 7 rows

In [66]:
# Count the number of indicators with data for each country
# (the specific indicator does not matter)
(wdi_csdf.dropna('all', subset=years_cols)
         .groupBy('Country Name').count()
         .select('Country Name', 'count')
         .limit(5).collect())

[Row(Country Name='Chad', count=1234),
 Row(Country Name='Paraguay', count=1342),
 Row(Country Name='World', count=941),
 Row(Country Name='Congo, Dem. Rep.', count=1323),
 Row(Country Name='Senegal', count=1374)]

In [67]:
# Set the lower and upper bounds (inclusive) for selecting indicators
sel_bounds = (200, 220)

In [68]:
# Find out indicators with data in a certain number of countries
country_ind_sel = country_ind.where(F.col('count').between(*sel_bounds))
country_ind_sel.count()

298

In [69]:
# View which topics these indicators relate to
country_ind_sel.select('Topic').distinct().limit(5).collect()

[Row(Topic='Education: Efficiency'),
 Row(Topic='Social Protection & Labor: Labor force structure'),
 Row(Topic='Environment: Density & urbanization'),
 Row(Topic='Environment: Agricultural production'),
 Row(Topic='Public Sector: Policy & institutions')]

In [70]:
country_ind_sel.select('Topic').distinct().count()

45

In [71]:
# Count the number of countries with data for each indicator in each year
agg_op = {year: 'count' for year in years_cols}
year_ind_agg = (wdi_csdf.groupBy(ind_nc_topic)
                        .agg(agg_op)
                        .orderBy('Indicator Name'))

# Use our defined function to rename aggregate columns
year_ind = rename_agg_cols(year_ind_agg.select(ind_nc_topic
                                               + sorted(year_ind_agg.columns[3:])), 
                           year_ind_agg.columns[3:], 'count()')

year_ind.show(10)

+--------------------+-----------------+--------------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|      Indicator Name|   Indicator Code|               Topic|1960|1961|1962|1963|1964|1965|1966|1967|1968|1969|1970|1971|1972|1973|1974|1975|1976|1977|1978|1979|1980|1981|1982|1983|1984|1985|1986|1987|1988|1989|1990|1991|1992|1993|1994|1995|1996|1997|1998|1999|2000|2001|2002|2003|2004|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|2019|2020|2021|
+--------------------+-----------------+--------------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|ARI treatment (% ...|   SH.STA.ARIC.ZS|Health: Disease p...|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  49|  10|  11|  13|   9|  20|  45|  15|   9|  13|  28|  25|  26|  19|  32|  15|  20|  11|  23|  18|   8|   2|
|Access to clean f...|   EG.CFT.ACCS.ZS|Environment: Ener...|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 190| 190| 190| 190| 190| 190| 190| 190| 190| 190| 190| 190| 190| 190| 190| 190| 190| 189| 189| 189| 189|   0|
|Access to clean f...|EG.CFT.ACCS.RU.ZS|Environment: Ener...|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189|   0|
|Access to clean f...|EG.CFT.ACCS.UR.ZS|Environment: Ener...|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189| 189|   0|
|Access to electri...|   EG.ELC.ACCS.ZS|Environment: Ener...|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  98| 109| 122| 131| 137| 144| 153| 159| 166| 172| 211| 211| 212| 212| 212| 212| 213| 214| 214| 215| 216| 215| 216| 216| 216| 216| 216| 216| 215| 216| 215|   0|
|Access to electri...|EG.ELC.ACCS.RU.ZS|Environment: Ener...|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  92| 103| 113| 121| 128| 135| 144| 146| 151| 155| 192| 194| 195| 199| 203| 201| 203| 203| 204| 202| 204| 205| 205| 207| 209| 211| 207| 204| 203| 204| 209|   0|
|Access to electri...|EG.ELC.ACCS.UR.ZS|Environment: Ener...|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  98| 109| 123| 134| 139| 146| 155| 160| 164| 170| 211| 211| 211| 211| 211| 211| 211| 212| 212| 213| 213| 213| 214| 214| 214| 214| 214| 212| 207| 209| 213|   0|
|Account ownership...|   FX.OWN.TOTL.ZS|Financial Sector:...|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 142|   0|   0| 141|   0|   0| 145|   0|   0|   0| 122|
|Account ownership...|FX.OWN.TOTL.FE.ZS|Financial Sector:...|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 142|   0|   0| 141|   0|   0| 145|   0|   0|   0| 122|
|Account ownership...|FX.OWN.TOTL.MA.ZS|Financial Sector:...|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0| 142|   0|   0| 141|   0|   0| 145|   0|   0|   0| 122|
+--------------------+-----------------+--------------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 10 rows

In [64]:
def collect_cols(df, cols, new_cols, bounds=None, exp_isnull=None):
    """Collects in a new column all the column names whose values match 
    the condition, and counts the number of such columns.

    Parameters:
    df -- a PySpark DataFrame
    cols -- columns whose value will be compared with the condition
    new_cols -- names for the two new columns
    bounds -- values for the PySpark Column method "between()" 
    to select columns (default None)
    exp_isnull -- whether to use the PySpark Column methods "isNull()" 
    (if True) or "isNotNull()" (if bounds is None) (default None). 
    This parameter is ignored when bounds have a value other than None
    
    Return a new DataFrame with the two new columns.
    """
    if bounds:
        cond = [F.when(df[col].between(*bounds), F.lit(col)) for col in cols]
    elif exp_isnull:
        cond = [F.when(df[col].isNull(), F.lit(col)) for col in cols]
    else:
        cond = [F.when(df[col].isNotNull(), F.lit(col)) for col in cols]

    new_df = (df.withColumn(new_cols[0], F.array_sort(F.array(cond)))
                .withColumn(new_cols[0], 
                            F.array_intersect(new_cols[0], 
                                              F.array([F.lit(col) for col in cols])))
                .withColumn(new_cols[1], F.size(new_cols[0]))
                .select('*'))

    return new_df

In [72]:
# Find out the years when the indicators have entries in a certain number 
# of countries
year_country_ind = collect_cols(year_ind, years_cols, 
                                ['Name_years', 'Num_years'], 
                                bounds=sel_bounds).drop(*years_cols)
                            
year_country_ind.select('*').show(5)

+--------------------+-----------------+--------------------+--------------------+---------+
|      Indicator Name|   Indicator Code|               Topic|          Name_years|Num_years|
+--------------------+-----------------+--------------------+--------------------+---------+
|ARI treatment (% ...|   SH.STA.ARIC.ZS|Health: Disease p...|                  []|        0|
|Access to clean f...|   EG.CFT.ACCS.ZS|Environment: Ener...|                  []|        0|
|Access to clean f...|EG.CFT.ACCS.RU.ZS|Environment: Ener...|                  []|        0|
|Access to clean f...|EG.CFT.ACCS.UR.ZS|Environment: Ener...|                  []|        0|
|Access to electri...|   EG.ELC.ACCS.ZS|Environment: Ener...|[2000, 2001, 2002...|       21|
+--------------------+-----------------+--------------------+--------------------+---------+
only showing top 5 rows

In [73]:
# Select indicators that have values in a certain number of countries and years
year_country_ind_sel = year_country_ind.filter(year_country_ind['Num_years'] >= 50)

# Create a list of these indicator names
year_country_ind_sel.select(ind_nc_topic[:2]).show(7, False)

+-------------------------------------------------------------+--------------+
|Indicator Name                                               |Indicator Code|
+-------------------------------------------------------------+--------------+
|Adjusted savings: mineral depletion (current US$)            |NY.ADJ.DMIN.CD|
|Adolescent fertility rate (births per 1,000 women ages 15-19)|SP.ADO.TFRT   |
|Age dependency ratio (% of working-age population)           |SP.POP.DPND   |
|Age dependency ratio, old (% of working-age population)      |SP.POP.DPND.OL|
|Age dependency ratio, young (% of working-age population)    |SP.POP.DPND.YG|
|Agricultural land (% of land area)                           |AG.LND.AGRI.ZS|
|Agricultural land (sq. km)                                   |AG.LND.AGRI.K2|
+-------------------------------------------------------------+--------------+
only showing top 7 rows

In [74]:
year_country_ind_sel.select('Topic').distinct().limit(5).collect()

[Row(Topic='Environment: Density & urbanization'),
 Row(Topic='Environment: Agricultural production'),
 Row(Topic='Environment: Land use'),
 Row(Topic='Economic Policy & Debt: National accounts: Adjusted savings & income'),
 Row(Topic='Health: Population: Structure')]

In [75]:
year_country_ind_sel.select('Topic').distinct().count()

10

In [76]:
# Find out in which years the indicators have records in certain countries
wdi_csdf_years = collect_cols(wdi_csdf, years_cols, 
                              ['Name_years_c', 'Num_years_c']).drop(*years_cols)

wdi_csdf_years.select('Country Name', 'Indicator Name',
                      'Name_years_c', 'Num_years_c').show(5)

+------------+--------------------+--------------------+-----------+
|Country Name|      Indicator Name|        Name_years_c|Num_years_c|
+------------+--------------------+--------------------+-----------+
|       World|Access to clean f...|[2000, 2001, 2002...|         21|
|       World|Access to clean f...|[2000, 2001, 2002...|         21|
|       World|Access to clean f...|[2000, 2001, 2002...|         21|
|       World|Access to electri...|[1998, 1999, 2000...|         23|
|       World|Access to electri...|[2000, 2001, 2002...|         21|
+------------+--------------------+--------------------+-----------+
only showing top 5 rows

In [77]:
# Create a new DataFrame with decimal values
pop_df1 = (wdi_csdf
          .filter(wdi_csdf['Indicator Code'].isin(['SP.POP.TOTL', 
                                                   'EN.POP.DNST']))
          .select('Income Group', 'Indicator Name', 
                  *[wdi_csdf[cname].astype(DecimalType()) 
                    for cname in wdi_csdf.columns[-6:-1]])
          .groupBy('Income Group', 'Indicator Name').sum()
          .withColumnRenamed('Income Group', 'IncomeGroup')
          .withColumnRenamed('Indicator Name', 'IndicatorName'))

pop_df = rename_agg_cols(pop_df1, pop_df1.schema.names[2:], 'sum()', 'YR{}')

# Create a local temporary view with this DataFrame
pop_df.createOrReplaceTempView('Population')

In [78]:
query1 = "SELECT * FROM Population ORDER BY IncomeGroup, IndicatorName"
spark.sql(query1).show(5)

+-------------------+--------------------+----------+----------+----------+----------+----------+
|        IncomeGroup|       IndicatorName|    YR2016|    YR2017|    YR2018|    YR2019|    YR2020|
+-------------------+--------------------+----------+----------+----------+----------+----------+
|        High income|Population densit...|     75139|     75516|     74794|     75442|     75766|
|        High income|   Population, total|1195037039|1201180693|1207103958|1212278212|1217317132|
|         Low income|Population densit...|      2789|      2852|      2922|      3002|      3079|
|         Low income|   Population, total| 626382245| 643485701| 661256583| 680013468| 699186538|
|Lower middle income|Population densit...|      8221|      8326|      8431|      8528|      8640|
+-------------------+--------------------+----------+----------+----------+----------+----------+
only showing top 5 rows

In [79]:
query2 = "SELECT *  FROM Population WHERE IncomeGroup != 'World' ORDER BY IncomeGroup, IndicatorName"
spark.sql(query2).show(5)

+-------------------+--------------------+----------+----------+----------+----------+----------+
|        IncomeGroup|       IndicatorName|    YR2016|    YR2017|    YR2018|    YR2019|    YR2020|
+-------------------+--------------------+----------+----------+----------+----------+----------+
|        High income|Population densit...|     75139|     75516|     74794|     75442|     75766|
|        High income|   Population, total|1195037039|1201180693|1207103958|1212278212|1217317132|
|         Low income|Population densit...|      2789|      2852|      2922|      3002|      3079|
|         Low income|   Population, total| 626382245| 643485701| 661256583| 680013468| 699186538|
|Lower middle income|Population densit...|      8221|      8326|      8431|      8528|      8640|
+-------------------+--------------------+----------+----------+----------+----------+----------+
only showing top 5 rows

In [80]:
pop_window = Window.partitionBy('IndicatorName').orderBy(pop_df.columns[2:])
        
pop_df.withColumn('Rank', F.dense_rank().over(pop_window)).show()

+-------------------+--------------------+----------+----------+----------+----------+----------+----+
|        IncomeGroup|       IndicatorName|    YR2016|    YR2017|    YR2018|    YR2019|    YR2020|Rank|
+-------------------+--------------------+----------+----------+----------+----------+----------+----+
|              World|Population densit...|        58|        58|        59|        60|        60|   1|
|         South Asia|Population densit...|       343|       346|       350|       352|       354|   2|
|         Low income|Population densit...|      2789|      2852|      2922|      3002|      3079|   3|
|Upper middle income|Population densit...|      7077|      7146|      7218|      7275|      7323|   4|
|Lower middle income|Population densit...|      8221|      8326|      8431|      8528|      8640|   5|
|        High income|Population densit...|     75139|     75516|     74794|     75442|     75766|   6|
|         South Asia|   Population, total|  21203000|  21444000|  21670000|  21803000|  21919000|   1|
|         Low income|   Population, total| 626382245| 643485701| 661256583| 680013468| 699186538|   2|
|        High income|   Population, total|1195037039|1201180693|1207103958|1212278212|1217317132|   3|
|Upper middle income|   Population, total|2436043943|2453799496|2469801107|2483924063|2495285443|   4|
|Lower middle income|   Population, total|3159018060|3204131822|3248544763|3292100477|3335199135|   5|
|              World|   Population, total|7491934113|7578157615|7661776338|7742681934|7820981524|   6|
+-------------------+--------------------+----------+----------+----------+----------+----------+----+

In [81]:
def transpose_cols(df, show_cols, unpivot_cols=None, new_names=('Key', 'Val'), 
                   pivot_col=None, group_cols=('Key', 'Val')):
    """Returns a new transpose DataFrame or Group data (if a pivot is used).

    Parameters:
    df -- a PySpark DataFrame
    show_cols -- columns that will be displayed along with the new columns
    unpivot_cols -- columns that will be unpivot
    new_names -- names for two new columns that will be created by unpivoting
    pivot_col -- a column whose values will be new columns 
    (aggregation is not used)
    group_cols -- a tuple of columns for grouping
    """
    if unpivot_cols:
        transp_df = (df.select('*', F.explode_outer(F.array(
            [F.create_map(F.lit(name), F.col(name)) 
            for name in unpivot_cols])).alias('New_cols'))
                       .select(*show_cols, 
                               F.explode_outer('New_cols').alias(*new_names)))

        if pivot_col: 
            transp_df = (transp_df.withColumn(pivot_col, df[pivot_col])
                                  .groupBy(*group_cols).pivot(pivot_col))
            
    elif pivot_col:
        transp_df = df.groupBy(*group_cols).pivot(pivot_col)

    return transp_df

In [82]:
# Transpose the DataFrame so that the indicators and the years are reversed
tr_pop_df = transpose_cols(pop_df, pop_df.columns[:2], 
                           unpivot_cols=pop_df.columns[2:], 
                           new_names=('Years', 'Vals'), 
                           pivot_col='IndicatorName', 
                           group_cols=('IncomeGroup', 'Years'))

tr_pop_df.max().orderBy('IncomeGroup', 'Years').show()

+-------------------+------+---------------------------------------------------+-----------------+
|        IncomeGroup| Years|Population density (people per sq. km of land area)|Population, total|
+-------------------+------+---------------------------------------------------+-----------------+
|        High income|YR2016|                                              75139|       1195037039|
|        High income|YR2017|                                              75516|       1201180693|
|        High income|YR2018|                                              74794|       1207103958|
|        High income|YR2019|                                              75442|       1212278212|
|        High income|YR2020|                                              75766|       1217317132|
|         Low income|YR2016|                                               2789|        626382245|
|         Low income|YR2017|                                               2852|        643485701|
|         Low income|YR2018|                                               2922|        661256583|
|         Low income|YR2019|                                               3002|        680013468|
|         Low income|YR2020|                                               3079|        699186538|
|Lower middle income|YR2016|                                               8221|       3159018060|
|Lower middle income|YR2017|                                               8326|       3204131822|
|Lower middle income|YR2018|                                               8431|       3248544763|
|Lower middle income|YR2019|                                               8528|       3292100477|
|Lower middle income|YR2020|                                               8640|       3335199135|
|         South Asia|YR2016|                                                343|         21203000|
|         South Asia|YR2017|                                                346|         21444000|
|         South Asia|YR2018|                                                350|         21670000|
|         South Asia|YR2019|                                                352|         21803000|
|         South Asia|YR2020|                                                354|         21919000|
+-------------------+------+---------------------------------------------------+-----------------+
only showing top 20 rows

In [84]:
path_to_save = '/content/'

wdi_csdf.write.csv(path_to_save + 'Wdi_csdf.csv', header=True, mode='ignore')
country_ind.write.csv(path_to_save + 'Country_ind.csv', header=True, mode='ignore')
year_ind.write.csv(path_to_save + 'Year_ind.csv', header=True, mode='ignore')

# Save to JSON, because CSV does not support the array data type
year_country_ind.write.json(path_to_save + 'year_country_ind.json', mode='ignore')
wdi_csdf_years.write.json(path_to_save + 'wdi_csdf_years.json', mode='ignore')